{% extends '_base.html' %}

{% block title %}Discography{% endblock title %}

{% block content %}

  <h1>Discography</h1>

    <!-- Release Table Start -->

    <table class="table table-bordered" id="discog_table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Info</th>
                <th scope="col">Release Date</th>
            </tr>
        </thead>
        {% for release in releases %}
            <tr>
                <td>{{ release.title }}</td>
                <td>{{ release.info }}</td>
                <td>{{ release.release_date }}</td>
            </tr>
        {% endfor %}
    </table>

    <!-- Release Table End -->

{% endblock content %}