{% extends '_base.html' %}
{% load thumbnail %}


{% block title %}Discography{% endblock title %}

{% block content %}

    <div class="container" id="discography-container">
        <!-- Release Table Start -->

        {% regroup releases by project as project_discog %}

        {% for project in project_discog %}
            <h4>{{ project.grouper }}</h4>

            <table class="table table-bordered" id="discog_table">
                <thead>
                <tr>
                    <th scope="col">Year</th>
                    <th scope="col">Title</th>
                    <th scope="col" >Project</th>
                    <th scope="col">Label</th>
                    <th scope="col">Format</th>
                </tr>
                </thead>
                {% for release in project.list %}
                    <tr>
                        <td>{{ release.release_date|date:"Y"}}</td>
                        <td><a href="{{ release.link }}">{{ release.title }}</a></td>
                        <td>{{ release.project }}</td>
                        <td></td>
                        <td></td>

                    </tr>
                {% endfor %}

            </table>



            </h4>
        {% endfor %}



        <!-- Release Table End -->
    </div>






{% endblock content %}