{% extends '_base.html' %}

{% load thumbnail %}

{% block title %}Discography{% endblock title %}

{% block content %}

<div class="container news-item-page-container">

    <div class="jumbotron jumbotron-fluid news-item-headline">
      <div class="container">
        <h1 class="display-4">{{release.title}}</h1>
          <span class="badge badge-secondary">{{ release.release_date }}</span>
      </div>
    </div>

    <div class="row">

    <!-- Release copy -->
    <div class="col-8 release-copy">
        {{ release.info|safe }}
    </div>

    <!-- release item image logic begin -->

    <div class="col news-feed-thumbnail-container">
    {% if release.image|is_portrait %}
        {% thumbnail release.image "200x300" as im %}
            <img class="news-item-thumbnail" src="{{im.url}}" alt="Portrait Release Item Image">
        {% endthumbnail %}
    {% else %}
        {% thumbnail release.image "300x200" as im %}
            <img class="news-item-thumbnail" src="{{im.url}}" alt="Release News Item Image">
        {% empty %}
            <!-- handle no image logic here -->
        {% endthumbnail %}
    {%  endif %}

    </div>
    <!-- news item image logic end -->

    </div>

    <!-- bandcamp link -->
    <div class='row'>
        <div class="col"><h3><a href="{{ release.link }}" class="release-link-badge badge badge-dark">Bandcamp</a></h3></div>
    </div>


</div>

{% endblock %}
