{% extends '_base.html' %}

{% block title %}Basket{% endblock title %}

{% block content %}

  <h1>Your Shopping Basket</h1>

    <!-- Basket Table Start -->

    <table class="table table-bordered" id="basket_table">
        <thead>
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>
                <th scope="col"></th>

            </tr>
        </thead>

        {% for item in shopping_cart %}


            <tr>
                <td>{{item.product.name }} </td>
                <td>
                    <form action="{% url 'basket_add' item.product.id %}" method="post">
                        {{ item.update_quantity_form.quantity }}
                        {{ item.update_quantity_form.override}}
                        <input type="submit" value="Update">
                        {% csrf_token %}
                    </form>
                </td>
                <td>£ {{item.price}}</td>
                <td>£ {{item.total_price }}</td>
                <td>
                    <form action="{% url 'basket_remove' item.product.id %}" method="post">
                        <input type="submit" value="Remove">
                        {% csrf_token %}
                    </form>
                </td>
            </tr>

        {% endfor %}
            <tr id="basket-table-footer">
                <td>Total</td>
                <td colspan="3"></td>
                <td>£ {{shopping_cart.total_price}}</td>
            </tr>
    </table>

    <!-- Basket Table End -->


{% endblock %}