{% extends '_base.html' %}

{% block title %}Order{% endblock title %}

{% block content %}

<div class="container product-detail-page-container">


  <div class="jumbotron jumbotron-fluid news-item-headline">
          <div class="container">
            <h1 class="display-4">Checkout</h1>
          </div>
        </div>

    <!-- Order Form Begin -->

    <form method="post" id="order-form">
        {{ form.as_p }}
        <p><input type="submit" value="Place order"></p>
        {% csrf_token %}
    </form>

    <!-- Order Form End -->

</div>

{% endblock %}