{% extends '_base.html' %}

{% block title %}Order{% endblock title %}

{% block content %}

  <h1>Pay By Card</h1>

    <!-- Payment Braintree Hosted Form Form Begin -->

    <form id="payment" method="post">
        <label for="card-number">Card Number</label>
            <input id="card-number" class="field">
        <label for="cvv">CVV</label>
            <input id="cvv" class="field">
        <label for="expiration-date">Expiration Date</label>
            <input id="expiration-date" class="field">
        <input type="submit" value="Pay">
    </form>


    <!-- Payment Form End -->

{% endblock %}