{% extends '_base.html' %}

{% block title %}Shop{% endblock title %}

{% block content %}


    <!-- Release Cards Start -->



    <div class="container" id="product-card-container">

    {% for product in products %}

        <div class="card text-white bg-dark mb-3" id="product-card-item">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
            </div>
            <div class="card-footer">
                <small class="text-muted">
                    <a href="{{ product.get_absolute_url }}">More info</a>
                </small>
            </div>
        </div>

    {% empty %}

        <p>Shop currently under construction. Please check back soon...</p>

    {% endfor %}

    </div>

    <!-- Release Cards End -->

{% endblock content %}