{% extends '_base.html' %}

{% load thumbnail %}

{% block title %}News{% endblock title %}

{% block content %}

<div class="container news-item-page-container">

    <div class="jumbotron jumbotron-fluid news-item-headline">
      <div class="container">
        <h1 class="display-4">{{news_item.headline}}</h1>
      </div>
    </div>

    <div class="row">

    <!-- News Article Content -->

    <div class="col-8">
        {{ news_item.content|safe }}
    </div>

    <!-- new item image logic begin -->
        <div class="col news-feed-thumbnail-container">
        {% if news_item.image|is_portrait %}
            {% thumbnail news_item.image "200x300" as im %}
                <img class="news-item-thumbnail" src="{{im.url}}" alt="Portrait News Item Image">
            {% endthumbnail %}
        {% else %}
            {% thumbnail news_item.image "300x200" as im %}
                <img class="news-item-thumbnail" src="{{im.url}}" alt="Landscape News Item Image">
            {% empty %}
                <!-- handle no image logic here -->
            {% endthumbnail %}

        {%  endif %}

        </div>
        <!-- news item image logic end -->
    </div>

    <!-- Date and time stamp badge -->
    <div class='row'>
        <div class="col"><span class="badge badge-light">{{ news_item.created }}</span></div>
    </div>


</div>

{% endblock %}