<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Circuit Breaker{% endblock title %}</title>
    <link rel="stylesheet "href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
</head>
<body>
  <div class="container">

  <!-- Nav bar start -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">CB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if nav == 'home' %}active{% endif %}">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item {% if nav == 'news' %}active{% endif %}">
            <a class="nav-link" href="{% url 'news_feed' %}">News</a>
        </li>
        <li class="nav-item {% if nav == 'discog' %}active{% endif %}">
            <a class="nav-link" href="{% url 'discography' %}">Discog</a>
        </li>
        <li class="nav-item {% if nav == 'shop' %}active{% endif %}">
            <a class="nav-link" href="{% url 'shop_home' %}">Shop</a>
        </li>
    </ul>
  </div>
  </nav>

  <!-- Nav bar end -->



    {% block content %}
    {% endblock content %}
  </div>
</body>
</html>